body {
    background-color: #cccbff;
    font-family: Poppins;
}

.btn-purp {
    background-color: #BCABFF;
    border-radius: 16px;
}


.pr-40 {
    padding: 0px 40px 0px 20px;
}

.circle-purp-1 {
    background-color: #B3B1FF;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    position: fixed;
    right: -200px;
    bottom: -200px;
    z-index: -1;
}

.circle-purp-2 {
    background-color: #B3B1FF;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    border: 4px solid #7C5BFF;
    position: fixed;
    right: -210px;
    bottom: -220px;
    z-index: -1;
}

.border-none {
    border: none;
}



.service-card {
    border-radius: 10px;
    height: 240px;
    transition: transform 0.4s ease;
    background-color:#cccbff;
}

.service-card > img {
    border-radius: 10px 10px 0px 0px;
    height: 180px;
    object-fit: cover;
}

.service-card:hover {
   transform: scale(1.1);
}